@use '../util' as *;
.banner {
    //  position: absolute;
    //  top: 0;
    position: relative;
    width: 100%;
    height: 100vh;

    &__image {
        display: grid;
        grid-template-columns: repeat(8, 1fr);
        width: 100%;
        gap: 0.1rem;
        height: 100vh;
        overflow: hidden;

        :nth-child(1) {
            background: url(https://res.cloudinary.com/digital-x-sarl/image/upload/v1669820946/mariage%20client%201/banner/grid1.png);
        }
        :nth-child(2) {
            background: url(https://res.cloudinary.com/digital-x-sarl/image/upload/v1669820946/mariage%20client%201/banner/grid2.png);
        }
        :nth-child(3) {
            background: url(https://res.cloudinary.com/digital-x-sarl/image/upload/v1669820946/mariage%20client%201/banner/grid3.png);
        }
        :nth-child(4) {
            background: url(https://res.cloudinary.com/digital-x-sarl/image/upload/v1669820946/mariage%20client%201/banner/grid4.png);
        }
        :nth-child(5) {
            background: url(https://res.cloudinary.com/digital-x-sarl/image/upload/v1669820946/mariage%20client%201/banner/grid5.png);
        }
        :nth-child(6) {
            background: url(https://res.cloudinary.com/digital-x-sarl/image/upload/v1669820946/mariage%20client%201/banner/grid6.png);
        }
        :nth-child(7) {
            background: url(https://res.cloudinary.com/digital-x-sarl/image/upload/v1669820946/mariage%20client%201/banner/grid12.png);
        }
        :nth-child(8) {
            background: url(https://res.cloudinary.com/digital-x-sarl/image/upload/v1669820946/mariage%20client%201/banner/grid8.png);
        }
        :nth-child(9) {
            background: url(https://res.cloudinary.com/digital-x-sarl/image/upload/v1669820946/mariage%20client%201/banner/grid9.png);
        }
        :nth-child(10) {
            background: url(https://res.cloudinary.com/digital-x-sarl/image/upload/v1669820946/mariage%20client%201/banner/grid10.png);
        }
        :nth-child(11) {
            background: url(https://res.cloudinary.com/digital-x-sarl/image/upload/v1669820946/mariage%20client%201/banner/grid11.png);
        }
        :nth-child(12) {
            background: url(https://res.cloudinary.com/digital-x-sarl/image/upload/v1669820946/mariage%20client%201/banner/grid12.png);
        }
        :nth-child(13) {
            background: url(https://res.cloudinary.com/digital-x-sarl/image/upload/v1669820946/mariage%20client%201/banner/grid13.png);
        }
        :nth-child(14) {
            background: url(https://res.cloudinary.com/digital-x-sarl/image/upload/v1669820946/mariage%20client%201/banner/grid14.png);
        }
        :nth-child(15) {
            background: url(https://res.cloudinary.com/digital-x-sarl/image/upload/v1669820946/mariage%20client%201/banner/grid15.png);
        }
        :nth-child(16) {
            background: url(https://res.cloudinary.com/digital-x-sarl/image/upload/v1669820946/mariage%20client%201/banner/grid16.png);
        }
        :nth-child(17) {
            background: url(https://res.cloudinary.com/digital-x-sarl/image/upload/v1669820946/mariage%20client%201/banner/grid17.png);
        }
        :nth-child(18) {
            background: url(https://res.cloudinary.com/digital-x-sarl/image/upload/v1669820946/mariage%20client%201/banner/grid18.png);
        }
        :nth-child(19) {
            background: url(https://res.cloudinary.com/digital-x-sarl/image/upload/v1669820946/mariage%20client%201/banner/grid19.png);
        }
        :nth-child(20) {
            background: url(https://res.cloudinary.com/digital-x-sarl/image/upload/v1669820946/mariage%20client%201/banner/grid20.png);
        }
        :nth-child(21) {
            background: url(https://res.cloudinary.com/digital-x-sarl/image/upload/v1669820946/mariage%20client%201/banner/grid21.png);
        }
        :nth-child(22) {
            background: url(https://res.cloudinary.com/digital-x-sarl/image/upload/v1669820946/mariage%20client%201/banner/grid22.png);
        }
        :nth-child(23) {
            background: url(https://res.cloudinary.com/digital-x-sarl/image/upload/v1669820946/mariage%20client%201/banner/grid23.png);
        }
        :nth-child(24) {
            background: url(https://res.cloudinary.com/digital-x-sarl/image/upload/v1669820946/mariage%20client%201/banner/grid24.png);
        }
        :nth-child(25) {
            background: url(https://res.cloudinary.com/digital-x-sarl/image/upload/v1669820946/mariage%20client%201/banner/grid25.png);
        }
        :nth-child(26) {
            background: url(https://res.cloudinary.com/digital-x-sarl/image/upload/v1669820946/mariage%20client%201/banner/grid26.png);
        }
        :nth-child(27) {
            background: url(https://res.cloudinary.com/digital-x-sarl/image/upload/v1669820946/mariage%20client%201/banner/grid27.png);
        }
        :nth-child(28) {
            background: url(https://res.cloudinary.com/digital-x-sarl/image/upload/v1669820946/mariage%20client%201/banner/grid28.png);
        }
        :nth-child(29) {
            background: url(https://res.cloudinary.com/digital-x-sarl/image/upload/v1669820946/mariage%20client%201/banner/grid29.png);
        }
        :nth-child(30) {
            background: url(https://res.cloudinary.com/digital-x-sarl/image/upload/v1669820946/mariage%20client%201/banner/grid30.png);
        }
        :nth-child(31) {
            background: url(https://res.cloudinary.com/digital-x-sarl/image/upload/v1669820946/mariage%20client%201/banner/grid31.png);
        }
        :nth-child(32) {
            background: url(https://res.cloudinary.com/digital-x-sarl/image/upload/v1669820946/mariage%20client%201/banner/grid32.png);
        }
        :nth-child(33) {
            background: url(https://res.cloudinary.com/digital-x-sarl/image/upload/v1669820946/mariage%20client%201/banner/grid33.png);
        }
        :nth-child(34) {
            background: url(https://res.cloudinary.com/digital-x-sarl/image/upload/v1669820946/mariage%20client%201/banner/grid34.png);
        }
        :nth-child(35) {
            background: url(https://res.cloudinary.com/digital-x-sarl/image/upload/v1669820946/mariage%20client%201/banner/grid35.png);
        }
        :nth-child(36) {
            background: url(https://res.cloudinary.com/digital-x-sarl/image/upload/v1669820946/mariage%20client%201/banner/grid36.png);
        }
        :nth-child(37) {
            background: url(https://res.cloudinary.com/digital-x-sarl/image/upload/v1669820946/mariage%20client%201/banner/grid37.png);
        }
        :nth-child(38) {
            background: url(https://res.cloudinary.com/digital-x-sarl/image/upload/v1669820946/mariage%20client%201/banner/grid38.png);
        }
        :nth-child(39) {
            background: url(https://res.cloudinary.com/digital-x-sarl/image/upload/v1669820946/mariage%20client%201/banner/grid39.png);
        }
        :nth-child(40) {
            background: url(https://res.cloudinary.com/digital-x-sarl/image/upload/v1669820946/mariage%20client%201/banner/grid40.png);
        }

        .banner__image__elt {
            background-size: cover;
            background-position: right;
            background-repeat: no-repeat;
        }
    }
    &__playbtn {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        @include breakpoint-down(xsmall) {
            width: 3rem;
        }
        @include breakpoint-down(extrasmall) {
            width: 2.5rem;
        }
    }
    &__text {
        display: none;
    }
}
.banner.show {
    // background: url(https://res.cloudinary.com/digital-x-sarl/image/upload/v1665077205/mariage/banner/bannerimg.png);
    z-index: 500;
    width: 100%;
    height: 100vh;

    .banner__image.show {
        gap: 0;
        overflow: hidden;
        background: url(https://res.cloudinary.com/digital-x-sarl/image/upload/v1669820964/mariage%20client%201/banner/bannerback.png);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        width: 100%;
        height: 100vh;
        animation: fadein 2s;

        @keyframes fadein {
            from {
                opacity: 0.4;
            }
            to {
                opacity: 1;
                //transition: opacity 15s;
            }
        }

        @include breakpoint-down(small) {
            background: url(https://res.cloudinary.com/digital-x-sarl/image/upload/v1669986329/mariage%20client%201/banner/bannerbackmobile.png);

            background-position: top;
            background-repeat: no-repeat;
            background-size: cover;
        }
    }
    .show > div {
        opacity: 1;
    }

    .banner__playbtn {
        display: none;
    }
    .banner__text {
        display: block;
        position: absolute;
        top: 60%;
        transform: translate(-50%, -50%);
        color: #fff;
        left: 50%;
        font-family: 'STIX Two Text';
        font-style: normal;
        text-align: center;
        width: 100%;
        :nth-child(1) {
            font-weight: 400;
            font-size: rem(28);
            //line-height: rem(35);
            letter-spacing: 0.26em;

            @include breakpoint-down(tablet) {
                font-size: 1.5rem;
                text-shadow: 2px 2px 3px #000000;
            }
            @include breakpoint-down(mobile) {
                font-size: 1.3rem;
            }
        }

        :nth-child(2) {
            font-weight: 400;
            font-size: rem(64);

            @include breakpoint-down(tablet) {
                font-size: 2.4rem;
                text-shadow: 2px 2px 3px #000000;
            }
        }
        :nth-child(3) {
            font-weight: 400;
            font-size: rem(20);
            //line-height: rem(25);
            letter-spacing: 0.26em;

            @include breakpoint-down(tablet) {
                font-size: 1rem;
                text-shadow: 2px 2px 3px #000000;
            }
            @include breakpoint-down(mobile) {
                font-size: 0.9rem;
            }
        }
    }
    .banner__text p {
        opacity: 0;
    }
}
