@use "../util" as *;

.ladies {
  padding-top: 3rem;
  &_text {
    text-align: center;
    margin-bottom: rem(16);
    h3 {
      font-family: var(--font-stat);
      font-size: rem(48);
    }
  }
  &_blocs {
    &__contents {
      input {
        display: none;
      }
    }
    &__elts {
      display: flex;
      justify-content: center;
      gap: rem(75);
      @include breakpoint-down(small) {
        gap: 0;
      }
      label {
        display: flex;
        flex-direction: column;
        justify-content: center;
        // &:hover {
        //   border: solid rem(0) var(--white);
        //   border-radius: rem(16);
        //   background-color: var(--brown);
        // }
        h4 {
          color: var(--black);
          text-align: center;
          margin: 0;
          padding: rem(8) rem(15);
          cursor: pointer;
          @include breakpoint-down(extrasmall) {
            font-size: rem(12);
          }
        }
      }
    }
    &__list {
      .elts {
        display: none;
        margin-top: rem(15);
        .blocs-3 {
          @include breakpoint-down(tablet) {
            grid-template-columns: repeat(1, 1fr);
          }
        }
        .blocs-2 {
          @include breakpoint-down(tablet) {
            grid-template-columns: repeat(2, 1fr);
          }
          @include breakpoint-down(small) {
            grid-template-columns: repeat(1, 1fr);
          }
        }
        &-imgs {
          gap: rem(10);
          @include breakpoint-down(tablet) {
            grid-template-columns: repeat(3, 1fr);
          }
        }
        &-vide {
          @include breakpoint-down(tablet) {
            display: none;
          }
        }
        &-img {
          position: relative;
          img {
            width: 100%;
          }
        }
        &-desc {
          position: absolute;
          top: 90%;
          right: 5%;
          color: var(--white);
          text-shadow: rem(1) rem(1) rem(4) var(--pink);
        }
      }
    }
  }
  #flow:checked ~ .ladies_blocs__list .fille,
  #men:checked ~ .ladies_blocs__list .fille,
  #temoin:checked ~ .ladies_blocs__list .fille {
    display: none;
  }
  #flow:checked ~ .ladies_blocs__list .flow,
  #temoin:checked ~ .ladies_blocs__list .temoin,
  #men:checked ~ .ladies_blocs__list .men,
  #fille:checked ~ .ladies_blocs__list .fille {
    display: block;
  }
  #flow:checked ~ .ladies_blocs__elts .flow,
  #temoin:checked ~ .ladies_blocs__elts .temoin,
  #men:checked ~ .ladies_blocs__elts .men,
  #fille:checked ~ .ladies_blocs__elts .fille {
    border-radius: rem(16);
    background-color: var(--brown);
    h4 {
      color: var(--white);
    }
  }
}
