@use "../util" as *;

.registre {
  padding-top: 2rem;

  &_text {
    text-align: center;
    margin: 0 rem(352);
    @include breakpoint-down(medium) {
      margin: 0 rem(176);
    }
    @include breakpoint-down(xsmall) {
      margin: 0 rem(80);
    }
    @include breakpoint-down(small) {
      margin: 0 rem(30);
    }
    h3 {
      font-family: var(--font-stat);
      font-size: rem(48);
    }
    p {
      @include breakpoint-down(small) {
        font-size: rem(12);
      }
    }
  }

  &_blocs {
    margin: rem(16) 0;
    &__contents {
      input {
        display: none;
      }
    }
    &__elts {
      display: flex;
      justify-content: center;
      gap: rem(35);
      @include breakpoint-down(tablet) {
        gap: 0;
        flex-direction: column;
      }
      label {
        display: flex;
        flex-direction: column;
        justify-content: center;
        h4 {
          color: var(--black);
          text-align: center;
          margin: 0;
          padding: rem(8) rem(15);
          cursor: pointer;
          @include breakpoint-down(extrasmall) {
            font-size: rem(12);
          }
        }
      }
    }
    &__list {
      .elts {
        display: none;
        margin-top: rem(15);
        &-imgs {
          display: grid;
          grid-template-columns: repeat(4, 1fr);
          @include breakpoint-down(small) {
            grid-template-columns: repeat(3, 1fr);
          }
        }
        &-img {
          display: block;
          position: relative;
          &:hover > .elts-desc {
            transition: all 0.5s ease-in-out;
            opacity: 1;
          }
          img {
            width: 100%;
          }
        }
        &-desc {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          color: var(--brown);
          background-color: var(--white);
          border-radius: rem(4);
          opacity: 0;
          transition: all 0.7s ease-in-out;
        }
      }
      .money,
      .paypal {
        text-align: center;
        a {
          color: var(--pink);
        }
      }
    }
  }

  #other:checked ~ .registre_blocs__list .other,
  #clothes:checked ~ .registre_blocs__list .clothes,
  #money:checked ~ .registre_blocs__list .money,
  #paypal:checked ~ .registre_blocs__list .paypal,
  #cuisine:checked ~ .registre_blocs__list .cuisine {
    display: block;
  }
  #other:checked ~ .registre_blocs__elts .other,
  #clothes:checked ~ .registre_blocs__elts .clothes,
  #money:checked ~ .registre_blocs__elts .money,
  #paypal:checked ~ .registre_blocs__elts .paypal,
  #cuisine:checked ~ .registre_blocs__elts .cuisine {
    border-radius: rem(16);
    background-color: var(--brown);
    h4 {
      color: var(--white);
    }
  }
  #other:checked ~ .registre_blocs__list .cuisine,
  #money:checked ~ .registre_blocs__list .cuisine,
  #paypal:checked ~ .registre_blocs__list .cuisine,
  #clothes:checked ~ .registre_blocs__list .cuisine {
    display: none;
  }
}
.registre_copy {
  text-align: center;
  font-size: rem(15);
  font-weight: 400;
}
